
<div class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1"> <%= t(".main_header") %></span>
  <div class="text-primary">
    Welcome,
    <%= current_user.email %>
    <%= link_to t(".exit"), destroy_user_session_path, method: :delete %>
  </div>
</div>
