@import 'bootstrap/scss/bootstrap';
@import "typhography/icons";
@import "global";
.successfull{color: #00ff00;}
.failed{color: #cc0000;}
.timer{color: #000;
  font-size: 300%;
  max-width: 160px;
  min-width: 160px;
  max-height: 100px;
  min-height: 100px;
  margin: 15px;
  padding: 15px;
  background-color: #999999;
  border: solid darkslategray;
  border-radius: 10px;}
