// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.successfull{color: #00ff00;}
.failed{color: #cc0000;}
.timer{color: #cc0000;}
