<div></div>
<footer>
  <div>
    <ul>
      <li>Год: <%= current_time %></li>
      <li><%= git_url('Щуплев Дмитрий', 'shudv2021', 'TestGuru')%></li>
<li> <%=school_url('https://thinknetica.com/') %></li>
    </ul>
  </div>
</footer>
