<div></div>
<footer>
  <div>
    <ul>
      <li>Год: <%= current_time %></li>
      <li><a href="https://github.com/shudv2021/TestGuru" target="_blank"> Исходники проекта.</a></li>
<li>Выполнено в рамках учебного задания школы <a href="https://thinknetica.com/" target="_blank"></a>Thinknetica</li>
    </ul>
  </div>
</footer>
