<div></div>
<footer>
  <div>
    <ul>
      <li>Год: <%= current_time %></li>
      <li><%= link_to "Исходник проекта", git_url, target: "_blank", class: "btn btn-large btn-primary" %></li>
<li> <%= link_to "Выполнено в рамках учебного задания школы Thinknetica", school_url, target: "_blank", class: "btn btn-large btn-primary" %></li>
    </ul>
  </div>
</footer>
